*, ::before, ::after{
    box-sizing: bordew-box;
}
body{
    background-color: #2B2B2B;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    height: 80px;
}
.logo_image{
    width: 172px;
    height: 40px;
}
.menu_list{
    list-style: none;
    display: flex;
    gap: 24px; 
}
.menu_item{
    display: flex;
    flex-direction: row;
    gap: 12;
}
.menu_link{
    font-family: 'Rubik', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}
.dropdown{
    width: 8px;
    height: 8px;
    margin-left: 12px;
}
.button{
    padding: 12px 16px;
    font-family: 'Rubik', sans-serif; 
    font-size: 16px;
    line-height: 24px;
    gap: 20px;
    background-color: #f8f8f80d;
    color: #fefeff;
    border: 1px solid #f8f8f81a;
    border-radius: 12px;
}
.hero{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 80px 0;
}
.illustration{
    width: 852px;
    height: 604px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.hero_frame{
    gap: 24px;
}
.hero_subtitle{
    font-family: 'Inter', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 403px;
}
.hero_button{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 403px;
    list-style: none;
}
.button2{
    padding: 12px 16px;
    font-family: 'Rubik', sans-serif; 
    font-size: 16px;
    line-height: 24px;
    gap: 20px;
    background-color: #f8f8f80d;
    color: #fefeff;
    border: 1px solid #f8f8f81a;
    border-radius: 12px;
}
.hero_note{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 403px;
}
.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 982px;
}
.dashboard{
    width: 1098px;
    height: 780px;
}
.logo_wrapper{
    gap: 16px;
    padding: 24px 40 px;
    display: flex;
    flex-direction: column;
}
.brand_title{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.logotypes{
    display:flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}
.logotype{
    gap: 10px;
    padding: 40px 40px;
}
.features{
    gap: 40px;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center
}
.features_text{
    gap: 8px;
    text-align: center;
    margin-bottom: 40px;
    width: 530px;
    display: flex;
    flex-direction: column;
}
.features_title{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}
.features_subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.features_images{
    display: flex;
    gap: 40px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.feature_card{
    width: 368px;
    gap: 16px;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
}
.feature_image{
    width: 368px;
    height: 500px;
}
.feature_text{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
}
.feat_title{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.feat_subtitle{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.case_study{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 80px 40px;
}
.case_text{
    width: 530px;
    gap: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.case_tittle{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}
.case_subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.social_medias{
    width: 790px;
    height: 362px;
}
.stats{
    gap: 40px;
    padding: 80px 40px;
}
.stats_text{
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 80px 24px;
    width: 1360px;
    margin: 0 auto;
    background-color: gray;
    border: 1px solid #ffffffac;
}
.stat{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    width: 421px;
    border-right: 1px solid #ffffffac;
}
.stat_title1{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    color: #C6C7F8;
}
.stat_title2{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    color: #BAEDBD;
}
.stat_title3{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    color: #95A4FC;
}
.stat_subtitle{
    font-size: 20px;
    line-height: 24px;
}
.testimonials{
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.test_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 530px;
    text-align: center;
}
.test_title{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}
.test_subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.testimonial_frame{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.people{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 368px;
    gap: 16px;
    padding: 16px 16px;
}
.people_image{
    position: relative;
    height: 243px;
    align-items:center;
}
.human1{
    width: 107px;
    height: 128 px;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    background-color: #BAEDBD;
}
.human2{
    width: 107px;
    height: 128 px;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    background-color: #95A4FC;
}
.human3{
    width: 107px;
    height: 128 px;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    background-color: #C6C7F8;
}
.back{
    width: 336;
    height: 243px;
    position: absolute;
    z-index: 2;
}
.people_text{
    gap: 24px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.name{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 16px;
    text-align: left;
}
.subname{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.people_note{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
    text-align: left;
}
.cta{
    padding: 80px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: white;
    color: black;
}
.cta_frame{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 530px;
    text-align: left;
    color: black;
}
.cta_title{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-top: 40px;
}
.cta_text{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
}
.cta_image{
    background-color: #2B2B2B;
    padding: 40px 40px;
    gap: 10px;
}
.cta_button{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 16px;
    gap: 20px;
    background-color: #fefeff;
    color: black;
    border: 1px solid #2B2B2B;
    border-radius: 12px;
}
.analitics{
    width: 540px;
    height: 313px;
}
.pricing{
    padding: 80px 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.pricing_text{
    gap 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pricing_title{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}
.pricing_subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}
.pricing_cards{
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    align-items: center;
}
.plan{
    padding: 24px 24px;
    gap: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.plan_picture{
    width: 58px;
    height: 58px;
}
.plan_text{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ffffffac;
}
.plan_tittle{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}
.plan_price{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}
.chooses{
    gap: 14px;
    display: flex;
    flex-direction: column;
}
.one_choose{
    display: flex;
    flex-direction: row;
    gap: 11px;
}
.choose_text{
    display: flex;
    align-items: center;
    gap: 14px;
}
.choose{
    width: 24px;
    height: 24px;
}
.button_choose{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 16px;
    gap: 20px;
    background-color: #2B2B2B;
    color: white;
    border: 1px solid #fefeff;
    border-radius: 12px;
}
.faq{
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.faq_text{
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 8px;
    width: 530px;
}
.faq-tittle{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}
.faq_subtittle{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.questions{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 1000px;
}
.question{
    display: flex;
    flex-direction: row;
    padding: 24px 40px;
    border-bottom:1px solid #333;
}
.question_title{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plus{
    width:24px;
    height: 24px;
    margin: left;
.footer{
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    border-top: 1 px solid #333;
}
.horizontal{
    gap: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.footer_sub{
    display: flex;
    flex-direction: colomn;
    gap: 24px;
}
.footer_text{
    text-align: left;
    gap: 4px;
}
.footer_title{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.footer_subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.form{
}
.subscribe{
    border-bottom: 1 px solid #333;
    padding: 12px 12px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    width: 394px;
    height: 48px;
    background-color: #2B2B2B;
    text-align: left;
}
.join_button{
    width: 394px;
    height: 48px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    gap: 20px;
    background-color: #f8f8f80d;
    color: #fefeff;
    border: 1px solid #f8f8f81a;
    border-radius: 12px;
    text-align: center;
}
.lists{
    gap: 24px;
    display: flex;
    flex-direction: row;
}
.list1{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.list2{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.list_name{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}
.logo_footer{
    width: 1443px;
    height: 364px;
    margin-top: 40px;
    max-width: 100%;
}
.copyright{
    text-align: center;
    font-size: 12px;
    text-align: center;
}
